<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>
<link href="/stylesheets/index.css" rel="stylesheet">

<main role="main" class="container">

  <div class="starter-template">
    <h1>APP MAIN</h1>
  </div>

</main>

<% include ../partials/footer.ejs %>
