<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>
<link href="/stylesheets/index.css" rel="stylesheet">

<main role="main" class="container">

  <div class="starter-template">
    <h1>HEAP ToDo</h1>
    <p class="lead">HEAP (Heroku/Express/Auth0/PostgreSQL) To Do Test Application</p>
    <p>Message: <%= message %></p>
    <ul>
    <% results.forEach(function(r) { %>
      <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
    </ul>
  </div>

</main>

<% include ../partials/footer.ejs %>
